@import '../../../../style/main.scss';

.project-section{
    width: 100%;
}

$chapter-item-border-radius: 10px;

.chapter-section {
    @extend .project-section;

    .chapter-section-head {
        background-color: $secondary;
        box-shadow: 2px 0px 8px $secondary;
        padding: 10px;

        .new-chapter {
            margin-top: 6px;
            background-color: $light-accent;
            border-radius: 10px;
            overflow: hidden;
            max-height: 0px;
            padding: 0px;
            transition: max-height .5s, padding .5s;

            &[shown=true] {
                max-height: 100vh;
                padding: 4px;
            }
        }
    }

    .chapter-section-body {
        margin: 5px 15px 5px 15px;
    }
}