@import '../../../style/main.scss';

$avatar-sm-size: 25px;
$avatar-md-size: 50px;
$avatar-lg-size: 100px;

.avatar {
  margin-top: auto;
  margin-bottom: auto;

  @mixin avatar-sm {
    height: $avatar-sm-size;
    width: $avatar-sm-size;
  }

  @mixin avatar-md {
    height: $avatar-md-size;
    width: $avatar-md-size;
  }

  @mixin avatar-lg {
    height: $avatar-lg-size;
    width: $avatar-lg-size;
  }

  .rounded-avatar {
    border-radius: 50%;
    margin: 0 auto;
    vertical-align: middle;
  }

  .img-avatar {
    @extend .rounded-avatar;
    max-height: inherit;
  }

  .img-avatar-sm {
    @extend .img-avatar;
    @include avatar-sm;
  }

  .img-avatar-md {
    @extend .img-avatar;
    @include avatar-md;
  }

  .img-avatar-lg {
    @extend .img-avatar;
    @include avatar-lg;
  }

  .text-avatar {
    @extend .rounded-avatar;
    text-align: center;
    background: $primary;

    span {
      color: #fff;
    }
  }

  .text-avatar-sm {
    @extend .text-avatar;
    @include avatar-sm;

    span {
      line-height: $avatar-sm-size;
      font-size: $avatar-sm-size - 5px;
    }
  }

  .text-avatar-md {
    @extend .text-avatar;
    @include avatar-md;

    span {
      line-height: $avatar-md-size;
      font-size: $avatar-md-size - 5px;
    }
  }

  .text-avatar-lg {
    @extend .text-avatar;
    @include avatar-lg;

    span {
      line-height: $avatar-lg-size;
      font-size: $avatar-lg-size - 5px;
    }
  }
}