@import '../../../../../style/main.scss';

$chapter-item-border-radius: 10px;

.chapter-list {

    .chapter-item {
        margin: 2px;
        width: 100%;
        cursor: pointer;

        .chapter-item-head {
            height: 100%;
            margin-top: 5px;
            padding: 5px;
            border-radius: $chapter-item-border-radius;
            background-color: $light-accent;
            transition: background-color 1s;
        
            .chapter-item-chevron {
                margin: 0 auto;
                vertical-align: middle;
                color: $primary;
            }

            .chapter-item-title {
                color: $primary;
                font-weight: bold;
            }

            .chapter-item-description {
                color: $primary;
                margin-left: 20px;
            }
        }

        .chapter-item-body {
            max-height: 0px;
            overflow: hidden;
            transition: max-height 1s;
        }

        .chapter-item-foot {
            height: 0px;
            background-color: $light-accent;
            transition: height 1s background-color 1s;
        }

        &[shown=true] {
            .chapter-item-head {
                height: auto;
                border-radius: $chapter-item-border-radius $chapter-item-border-radius 0 0;
                background-color: $secondary;
            }

            .chapter-item-body {
                max-height: 100vh;
            }

            .chapter-item-foot {
                height: 30px;
                background-color: $secondary;
                border-radius: 0 0 $chapter-item-border-radius $chapter-item-border-radius;
            }
        }
    }
}