$avatar-sm-size: 25px;

.avatar {
    margin-top: auto;
    margin-bottom: auto;

    @mixin avatar-sm {
        height: $avatar-sm-size;
        width: $avatar-sm-size;
    }

    .rounded-avatar {
        border-radius: 50%;
        margin: 0 auto;
        vertical-align: middle;
    }

    .img-avatar {
        @extend .rounded-avatar;
        max-height: inherit;
    }

    .img-avatar-sm {
        @extend .img-avatar;
        @include avatar-sm;
    }

    .text-avatar{
        @extend .rounded-avatar;
        text-align: center;
        background: #46b5e5;
        background: linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
        background-image: -ms-linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
        background-image: -moz-linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
        background-image: -o-linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
        background-image: -webkit-linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
        background-image: linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);

        span {
            color: #fff;
        }
    }

    .text-avatar-sm {
        @extend .text-avatar;
        @include avatar-sm;
        
        span {
            line-height: $avatar-sm-size;
            font-size: calc($avatar-sm-size - 5px);
        }
    }
}