.mixin-border{
    border: 2px;
}

@mixin primary-border {
    @extend .mixin-border;
    border-color: $primary;
}

@mixin secondary-border {
    @extend .mixin-border;
    border-color: $secondary;
}

@mixin light-border {
    @extend .mixin-border;
    border-color: $light;
}

@mixin dark-border {
    @extend .mixin-border;
    border-color: $dark;
}