@import '../../style/main.scss';

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.s-alert-box {
    min-width: 250px;
}

.s-alert-close::before, .s-alert-close::after {
    width: 2px;
}

.app-header{
    position: fixed;
    right: 0;
    left: O;
    top: 0;
    height: $appHeaderHeight;
    width: 100%;
    z-index: 10;

    nav{
        max-height: $appHeaderHeight;
    }
}

.app-body{
    margin-top: $appHeaderHeight;
}